.about {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
  }
  
  .aboutLeft {
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .aboutRight {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin: 50px;
    font-family: cursive;
  }
  
  .aboutRight p {
    width: 700px;
    text-align: center;
  }
  
  .about .aboutRight h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }